// Place all the styles related to the Albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  column-gap: 2em;
  column-rule: thin solid black;
  background-color: #affeff;
}
h1 {
  text-align:center;
}